@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    @apply hidden;
  }

  .no-scrollbar {
    scrollbar-width: none; /* Firefox */
  }
}

/* Sidebar Submenu */
.ant-layout-sider .ant-menu {
  @apply !font-Jost !border-none;
}
.ant-layout-sider-children .ant-menu-submenu .ant-menu-sub {
  @apply !bg-transparent;
}
.ant-menu-item,
.ant-menu-submenu-title,
.ant-menu .ant-menu-submenu .ant-menu-submenu-title {
  @apply font-medium text-body dark:text-[#a4a5aa];
}
.ant-menu-item.ant-menu-item-active,
.ant-menu-item.ant-menu-item-selected,
.ant-menu-item.ant-menu-item-active > svg,
.ant-menu-item.ant-menu-item-selected > svg,
.ant-menu-submenu-popup .ant-menu-item-selected a,
.ant-menu-item.ant-menu-item-active > .menuItem-icon,
.ant-menu-item.ant-menu-item-selected > .menuItem-icon,
.ant-menu .ant-menu-submenu-open .ant-menu-submenu-title,
.ant-menu .ant-menu-submenu-active .ant-menu-submenu-title,
.ant-menu .ant-menu-submenu-open .ant-menu-submenu-title > svg,
.ant-menu .ant-menu-submenu-active .ant-menu-submenu-title > svg,
.ant-menu-submenu-popup .ant-menu .ant-menu-item.ant-menu-item-active,
.ant-menu .ant-menu-item.ant-menu-item-active .ant-menu-item-icon > svg,
.ant-menu .ant-menu-item.ant-menu-item-selected .ant-menu-item-icon > svg,
.ant-menu .ant-menu-submenu-open .ant-menu-submenu-title > .ant-menu-submenu-arrow,
.ant-menu .ant-menu-submenu-active .ant-menu-submenu-title > .ant-menu-submenu-arrow,
.ant-menu .ant-menu-submenu .ant-menu-sub.ant-menu-inline .ant-menu-item.ant-menu-item-active,
.ant-menu .ant-menu-submenu .ant-menu-sub.ant-menu-inline .ant-menu-item.ant-menu-item-selected,
.ant-menu .ant-menu-submenu .ant-menu-sub.ant-menu-inline .ant-menu-item.ant-menu-item-active > svg,
.ant-menu .ant-menu-submenu .ant-menu-sub.ant-menu-inline .ant-menu-item.ant-menu-item-selected > svg {
  @apply text-primary !important;
}
.ant-layout-sider .ant-menu-item.ant-menu-item-selected {
  @apply bg-primary-transparent !important;
}
.ant-menu-light.ant-menu-horizontal > .ant-menu-item:hover::after,
.ant-menu-light.ant-menu-horizontal > .ant-menu-item-selected::after {
  @apply border-primary;
}
.ant-layout-sider .ant-menu > .ant-menu-item {
  @apply w-full !ps-[15px] m-0;
}
.ant-menu .ant-menu-submenu .ant-menu-sub.ant-menu-inline .ant-menu-item {
  @apply !ps-[40px] rounded-s-[0] rounded-e-[20px] !important;
}
.ant-layout-sider .ant-menu .ant-menu-submenu .ant-menu-submenu-title {
  @apply w-full !ps-[15px] p-0 ssm:pe-[30px] m-0 rounded-4;
}
.ant-menu-item > svg,
.ant-menu .ant-menu-item .ant-menu-item-icon,
.ant-menu-item .ant-menu-item-icon > svg,
.ant-menu .ant-menu-submenu .ant-menu-submenu-title > svg {
  @apply w-4 h-4 text-[#a0a0a0] dark:text-[#a4a5aa];
}
.ant-menu-item.ant-menu-item-only-child {
  @apply h-auto;
}
.ant-menu.ant-menu-inline .ant-menu-item.ant-menu-item-active,
.ant-menu .ant-menu-submenu .ant-menu-submenu-title:hover,
.ant-menu.ant-menu-inline .ant-menu-item:hover,
.ant-menu-submenu-popup .ant-menu .ant-menu-item.ant-menu-item-active,
.ant-menu .ant-menu-submenu .ant-menu-sub.ant-menu-inline .ant-menu-item:hover,
.ant-menu-item.ant-menu-item-selected.ant-menu-item-only-child,
.ant-menu-item.ant-menu-item-active {
  @apply bg-transparent !important;
}

.ant-menu-submenu-popup .ant-menu .ant-menu-item.ant-menu-item-selected,
.ant-menu .ant-menu-submenu .ant-menu-sub.ant-menu-inline .ant-menu-item.ant-menu-item-selected {
  @apply bg-primary-transparent !important;
}

.ant-layout-sider .ant-layout-sider-children .ant-menu .ant-menu-item .badge,
.ckbkee .ant-layout-sider .ant-layout-sider-children .ant-menu .ant-menu-submenu-title .badge {
  @apply absolute ltr:right-[15px] rtl:left-[15px] top-1/2 -translate-y-1/2 inline-block bg-primary text-white text-[10px] leading-[10px] tracking-[1px] rounded-[3px] h-auto pt-[3px] pb-1 px-1;
}
.ant-menu .ant-menu-submenu-inline > .ant-menu-submenu-title > .ant-menu-submenu-arrow {
  @apply rotate-[270deg] text-[#a0a0a0] dark:text-white/[.87];
}
.ant-menu .ant-menu-submenu-open.ant-menu-submenu-inline > .ant-menu-submenu-title > .ant-menu-submenu-arrow {
  @apply rotate-[180deg];
}

.ant-menu .ant-menu-submenu-arrow {
  @apply end-4;
}
.ant-menu .ant-menu-submenu-arrow::before,
.ant-menu .ant-menu-submenu-arrow::after {
  @apply h-[1.2px] dark:bg-white/[.87];
}

.ant-menu-submenu-popup > .ant-menu {
  @apply bg-white dark:bg-[#1b1d2a];
}
.ant-menu-submenu-popup > .ant-menu::-webkit-scrollbar {
  @apply hidden;
}
.ant-menu-submenu-popup > .ant-menu {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
.ant-menu-submenu-popup .ant-menu .ant-menu-item {
  @apply bg-transparent w-full my-1 [&:not(:last-child)]:mb-2 rounded-none !important;
}
.ant-tooltip .ant-tooltip-arrow:before {
  @apply bg-white dark:bg-whiteDark;
}
.ant-tooltip .ant-tooltip-content a {
  @apply capitalize;
}

.base-text {
  @apply text-[#404040] dark:text-[#A4A5AA];
}

.primary_btn {
  @apply bg-primary h-[40px] hover:!bg-primary/80 border-solid border-1 !border-primary !text-white dark:!text-white/[.87] text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px];
}

.secondary_btn {
  @apply bg-transparent h-[40px]  border-solid border-1 !border-primary !text-primary text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px];
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* Descriptions compenent hardcoded width */
.order-card .ant-descriptions-item-label {
  @apply max-w-[5rem];
}

.order-card-management .ant-descriptions-item-label {
  @apply max-w-[7rem];
}
